doctype html
html
  head
    title Instagram
  body
    h1 Instagram
    form
      input(type="text",placeholder="Enter Name",class="photoUser")
      br
      input(type="text",placeholder="Enter Title",class="photoTitle")
      br
      input(type="file",class="photoFile")
      br
      input(type="submit",class="photoAdd") 

    script(src="/js/jquery.min.js") 
    script(src="/js/main.js")